version: '3.8'
services:
  arangodb:
    image: arangodb/arangodb:3.11
    environment:
      - ARANGO_NO_AUTH=1
    ports:
      - "8529:8529"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
